<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<script data-ad-client="ca-pub-9052036378773280" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
</script>
    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{{ posts.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">
  {% load static %}
    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="{% static 'css/base.css' %}">
   <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
   <link rel="stylesheet" href="{% static 'css/main.css' %}">
   
    <!-- script
    ================================================== -->
    <script src="{% static 'js/modernizr.js' %}"></script>
    
    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <script async src="https://inswebt.com/pw/waWQiOjEwMzM4MjMsInNpZCI6MTAzODU5NSwid2lkIjo3MDY2Mywic3JjIjoyfQ==eyJ.js">
    </script>
    </head>
    
<body class="ss-bg-white">

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div id="top" class="s-wrap site-wrapper">

       <!-- site header
       ================================================== -->
       <header class="s-header">
       
       <div class="header__top">
       <div class="header__logo">
       <a class="site-logo" href="{% url 'home' %}">
       <img src="{% static 'images/ico.svg' %}" alt="Homepage">
       </a>
       </div>
       
       <div class="header__search">
       
       <form role="search" method="get" class="header__search-form" action="#">
       <label>
       <span class="hide-content">Search for:</span>
       <input type="search" class="header__search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
       </label>
       <input type="submit" class="header__search-submit" value="Search">
       </form>
       
       <a href="#0" title="Close Search" class="header__search-close">Close</a>
       
       </div>  <!-- end header__search -->
       
       <!-- toggles -->
       <a href="#0" class="header__search-trigger"></a>
       <a href="#0" class="header__menu-toggle"><span>Menu</span></a>
       
       </div> <!-- end header__top -->
       
       <nav class="header__nav-wrap">
       
       <ul class="header__nav">
       <li class="current"><a href="{% url 'home' %}" title="">Home</a></li>
      
     
       </ul> <!-- end header__nav -->
       
       <ul class="header__social">
       <li class="ss-facebook">
       <a href="https://facebook.com/">
       <span class="screen-reader-text">Facebook</span>
       </a>
       </li>
       <li class="ss-twitter">
       <a href="#0">
       <span class="screen-reader-text">Twitter</span>
       </a>
       </li>
       <li class="ss-dribbble">
       <a href="#0">
       <span class="screen-reader-text">Dribbble</span>
       </a>
       </li>
       <li class="ss-pinterest">
       <a href="#0">
       <span class="screen-reader-text">Behance</span>
       </a>
       </li>
       </ul>
       
       </nav> <!-- end header__nav-wrap -->
       
       
       
       </header> <!-- end s-header -->

     <!-- site content
        ================================================== -->
        <div class="s-content content">
            <main class="row content__page">
                
                <article class="column large-full entry format-standard">

               

                    <div class="content__page-header entry__header">
                        <h1 class="display-1 entry__title">
                        {{ posts.title }}
                        </h1>
                        <ul class="entry__header-meta">
                            <li class="author">By <a href="#0">{{ posts.author }}</a></li>
                            <li class="date">{{ posts.published }}</li>
                            <li class="cat-links">
                                <a href="#0">{{ posts.category }} </a><a href="#0"></a>
                            </li>
                        </ul>
                    </div> <!-- end entry__header -->

                    <div class="entry__content">

                        <p class="lead drop-cap">
                        {{ posts.content }}
                        </p>

                        
    
                        <blockquote>
                            <p>
                          {{ posts.quotes }}
                            </p>
                            <cite>{{ posts.cite }}</cite>
                        </blockquote>
    
                        
                        <p class="entry__tags">
                            <span>Tags</span>
        
                            <span class="entry__tag-list">
                           
                                <a href="#0"> {{ posts.tags }} </a>
                            </span>
            
                        </p>
                    </div> <!-- end entry content -->

                   

                    <div class="entry__related">
                        <h3 class="h2">Related Articles</h3>

                        <ul class="related">
                        {% for related_post in related_post %}
                            <li class="related__item">
                                <a href="{% url 'blog_id' related_post.id %}" class="related__link">
                                
                                <h5 class="related__post-title"> {{ related_post.title }}</h5>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div> <!-- end entry related -->

                </article> <!-- end column large-full entry-->


                <div class="comments-wrap">

                    <div id="comments" class="column large-12">

                        <h3 class="h2">Comments</h3>
        
                        <!-- START commentlist -->
                        <ul class="commentlist disc">
        
                            <li class="depth-1 comment">
        
                                
                                {% for com in com %}
                                <div class="comment__content">
        
                                    <div class="comment__info">
                                        <div class="comment__author">{{ com.commenter_name }}, {{ com.comment_time }}</div>
            
                                        </div>
                                    </div>
        
                                    <div class="comment__text">
                                    <p>{{ com.comments }} </p>
                                    </div>
        {% empty %}
        <div class="comment__text">
        <p>No Comments</p>
        </div>
                                </div>
        {% endfor %}
                            </li> <!-- end comment level 1 -->
        
                            
                               
                        </ul>
                        <!-- END commentlist -->

                    </div> <!-- end comments -->
                    
                    <!-- START respond -->
                    <div id="respond">
                    
                    <h3 class="h2">Add Comment <span>Your email address will not be published</span></h3>
                    
                    <form name="contactForm" id="contactForm" method="POST" validate  action="" autocomplete="off">{% csrf_token %}
                    <fieldset>
                    
                    
                    
                         {{ comment_form.as_p }}
                         
                         
                    </fieldset>
                    
                    <input name="submit" id="submit" class="btn btn--primary btn-wide btn--large full-width" value="Add Comment" type="submit">
                    
                    </form> <!-- end form -->
                    
                    </div>
                    <!-- END respond-->
                    
                    </div> <!-- end comment-respond -->
                    
                    </div> <!-- end comments-wrap -->
                    </main>
                    
                    </div>
                        <!-- end s-content -->

                    <div class="column large-12 comment-respond">
                    <p>Launched right from OAU Chemistry Department By Adeleke Oluwatobi, the brain behind these Vision
                    
                    We keep You Up to date with all sorts of stuff you could never imagine</p>
                    
                    <p>Help Lines
                    
                        WhatsApp : +2348112806410
                        Email : tobiadiks@gmail.com
                        
                        </p>
                        
                        
                   


        <!-- footer
        ================================================== -->
        <footer class="s-footer footer">
            <div class="row">
                <div class="column large-full footer__content">
                    <div class="footer__copyright">
                        <span>© Copyright ProTv</span> 
                        <span>Design by <a href="https://www.styleshout.com/">StyleShout</a> implemented for ProTv 📺</span>
                    </div>
                </div>
            </div>

            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
        </footer>

    </div> <!-- end s-wrap -->


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>